.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 120px 0;

  z-index: 1000;
  overflow-y: auto;
}

.modalContent {
  background: white;
  min-width: 1000px;
  width: fit-content;
  position: relative;

  margin: 0 120px;
  padding: 40px;
  border-radius: 45px;

  display: flex;
  flex-direction: column;
  gap: 13px;

  div {
    background-color: var(--purple-ea);
  }
}

.modalCloseBtn {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--text-color);
  right: -70px;
  top: -30px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 19px;
}
