.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;

  .LogoBlock {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .Logo {
    max-width: 268px;
    width: 100%;
    flex: none;
  }
}
